body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-family: 'Roboto', open-sans;
    background-color: #023D6D;
    color: white;
    padding: 1.5% 0;
    font-size: 1.1rem;
}

form, section {
    margin: 2rem auto;
    width: 40rem;
    max-width: 90%;
    border: 1.2px solid #023D6D;
    border-radius: 10px;
    padding: 1.5rem;
    color: #023D6D;
    text-align: center;
    font-family: 'Roboto', open-sans;
}

#calculator input {
    padding: 0.5rem 0;
    width: 25%;
    border: 2px solid #023D6D;
    margin-bottom: 4%;
    font-size: 2.5rem;
    text-align: center;
    color: #023D6D;
}

#calculator input:focus {
    outline: none;
}
#calc-actions button {
    padding: 0.8rem 1.2rem;
    margin-left: 1%;
    background-color: #023D6D;
    color: white;
    font-size: 1.5rem;
}

#calc-actions button:hover {
    cursor: pointer;
}

#calc-actions button:focus {
    outline: none;
}